<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./layout/header') %>
    <title>Adicionar novo artigo • Blog Brend </title>
</head>

<body>
    <div id="container">
        <div class="content">
            <div class="container">
                <form action="/" class="form-contact" method="POST" tabindex="1">
                    <h1>Nova Publicação:</h1>
                    <%- include('./layout/form') %>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <%- include('./layout/footer') %>
    </footer>
</body>

</html>